In [38]:
## Should have all the same signal processing functions from the signal package in R:
## https://cran.r-project.org/web/packages/signal/signal.pdf
from scipy.signal import butter, lfilter

## https://docs.scipy.org/doc/scipy/reference/signal.html

import pandas as pd
import numpy as np
import csv
import glob
import matplotlib.pyplot as plt
import datetime

In [39]:
file_path = r'/Users/dancohen/Dropbox/E4 stuff/test data'
output_path = r'/Users/dancohen/Dropbox/E4 stuff/test data/HR_All_Data'
all_folders = glob.glob(file_path + "/PRF*")

In [40]:
def iterate_sample_rate(df_length, fs):
    # returns list of floats starting from zero iterated upward by sample rate
    result = []
    curr_time = 0.0
    result.append(curr_time)
    
    for i in range(df_length-1):
        curr_time += 1.0/fs
        result.append(curr_time)
    return result

In [41]:
hr_all_part = []
for folder in all_folders:
    spl = folder.split('/')
    
    #Folder names are 'PRF###' (participant ID) and we are interested in the ID
    part_id = spl[len(spl)-1][3:]
    
    hr_df_raw = pd.read_csv(folder+"/HR.csv")
    starting_timestamp = hr_df_raw.columns[0]
    sample_rate = hr_df_raw[starting_timestamp][0]
    hr_df_raw = hr_df_raw.drop([0, 0])
    time_col = iterate_sample_rate(len(hr_df_raw), sample_rate)
    hr_df = hr_df_raw.copy()
    hr_df['Timestamp'] = time_col
    hr_df = hr_df.rename(columns={starting_timestamp: part_id})
    hr_df = hr_df.set_index('Timestamp')
    
    hr_all_part.append(hr_df)

In [42]:
result = pd.concat(hr_all_part, axis=1)
result

             012    205    020    002
Timestamp
0.0        61.00  54.00  58.00  55.00
1.0        60.50  54.50  58.50  55.00
2.0        60.67  53.67  58.33  64.67
3.0        57.75  52.75  58.50  64.50
4.0        58.40  52.40  58.80  64.40
5.0        58.83  57.33  59.83  66.67
6.0        59.43  60.57  60.71  68.57
7.0        60.00  63.25  62.75  69.75
8.0        60.11  65.11  65.00  70.67
9.0        60.20  66.70  67.20  71.60
10.0       60.27  68.09  69.09  72.09
11.0       60.42  69.17  70.50  72.42
12.0       60.31  70.15  71.77  72.54
13.0       60.29  70.93  72.29  72.71
14.0       60.20  71.53  72.07  72.87
15.0       60.12  72.12  72.06  73.12
16.0       60.06  72.65  71.82  73.24
17.0       60.00  73.17  71.89  73.17
18.0       59.84  73.74  71.95  73.16
19.0       59.85  74.05  72.05  73.20
20.0       59.86  74.33  72.19  73.19
21.0       59.86  74.59  72.32  73.05
22.0       59.87  74.61  72.48  72.87
23.0       59.88  74.62  72.62  72.67
24.0       59.88  74.64  72.76  72.52
25.0       60.27  74.65  72.92  72.77
26.0       60.89  74.67  73.15  72.93
27.0       61.50  74.71  73.39  73.32
28.0       62.00  74.72  73.59  73.59
29.0       62.50  74.67  73.80  73.83
...          ...    ...    ...    ...
1944.0       NaN    NaN  77.88  82.22
1945.0       NaN    NaN  78.12  81.90
1946.0       NaN    NaN    NaN  81.67
1947.0       NaN    NaN    NaN  81.42
1948.0       NaN    NaN    NaN  81.03
1949.0       NaN    NaN    NaN  80.68
1950.0       NaN    NaN    NaN  80.33
1951.0       NaN    NaN    NaN  80.00
1952.0       NaN    NaN    NaN  79.68
1953.0       NaN    NaN    NaN  79.42
1954.0       NaN    NaN    NaN  79.12
1955.0       NaN    NaN    NaN  78.87
1956.0       NaN    NaN    NaN  78.63
1957.0       NaN    NaN    NaN  78.48
1958.0       NaN    NaN    NaN  78.32
1959.0       NaN    NaN    NaN  78.18
1960.0       NaN    NaN    NaN  78.07
1961.0       NaN    NaN    NaN  78.02
1962.0       NaN    NaN    NaN  77.92
1963.0       NaN    NaN    NaN  77.78
1964.0       NaN    NaN    NaN  77.67
1965.0       NaN    NaN    NaN  77.52
1966.0       NaN    NaN    NaN  77.40
1967.0       NaN    NaN    NaN  77.23
1968.0       NaN    NaN    NaN  77.08
1969.0       NaN    NaN    NaN  77.00
1970.0       NaN    NaN    NaN  76.93
1971.0       NaN    NaN    NaN  76.92
1972.0       NaN    NaN    NaN  76.95
1973.0       NaN    NaN    NaN  76.93

[1974 rows x 4 columns]

In [43]:
result.to_csv(output_path+"/HR_All_Data.csv", float_format='%.6f')